.nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  height: 100%;
  box-shadow: 5px 0 5px -4px #000;
}

.nav-itens {
  cursor: pointer;
}

.nav-itens i {
  font-size: 2.1rem;
}
