<div class="seq-days">
    <div class="nav-grid-content">
        <p>
            <i _ngcontent-qvy-c30="" class="material-icons">filter_drama</i>
        </p>
        <label>Durante o dia</label>
    </div>
    <div class="sec-day">
        <p class="next-date">Manhã</p>
        <img class="wea-status" src="../../assets/static/day.svg" alt="">
        <span class="degree-inf">32º</span>
    </div>
    <div class="thi-day">
        <p class="next-date">Tarde</p>
        <img class="wea-status" src="../../assets/static/rainy-2.svg" alt="">
        <span class="degree-inf">19º</span>
    </div>
    <div class="for-day">
        <p class="next-date">Noite</p>
        <img class="wea-status" src="../../assets/static/thunder.svg" alt="">
        <span class="degree-inf">15º</span>
    </div>
</div>
