<div class="seq-days">
    <div class="nav-grid-content">
        <p>
            <i _ngcontent-qvy-c30="" class="material-icons">filter_drama</i>
        </p>
        <label>Próximos dias</label>
    </div>
    <div class="sec-day">
        <img class="wea-status" src="../../assets/animated/day.svg" alt="">
        <span class="degree-inf">32º</span>
        <p class="next-date">Quarta, 15 de Abril</p>
    </div>
    <div class="thi-day">
        <img class="wea-status" src="../../assets/animated/rainy-2.svg" alt="">
        <span class="degree-inf">19º</span>
        <p class="next-date">Quinta, 16 de Abril</p>
    </div>
    <div class="for-day">
        <img class="wea-status" src="../../assets/animated/thunder.svg" alt="">
        <span class="degree-inf">15º</span>
        <p class="next-date">Sexta, 17 de Abril</p>
    </div>
</div>
