<div class="container">
    <div class="nav-grid-content">
        <p>
            Próximos dias
        </p>   
    </div>
    <div class="morn">
        <p class="morn-desc">Sexta</p>
        <img class="morn-icon" src="../../assets/static/day.svg" alt="">
        <p class="morn-degree">32º</p>
    </div>
    <div class="aftn">
        <p class="aftn-desc">Sábado</p>
        <img class="aftn-icon" src="../../assets/static/cloudy-day-3.svg" alt="">
        <p class="aftn-degree">19º</p>
    </div>
    <div class="nign">
        <p class="nign-desc">Domingo</p>
        <img class="nign-icon" src="../../assets/static/snowy-4.svg" alt="">
        <p class="nign-degree">15º</p>
    </div>
</div>
