.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-shadow: 5px 0 5px -4px #000;
}

.icon-current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 100%;
}
.icon-current-weather img{
  width: 173px;
  height: 173px
}

.text-current-weather {
  font-size: 1em;
  text-transform: uppercase;
}

.number-current-weather {
  margin-top: 10px;
  font-size: 3em;
  padding: 10px;
}

.city-content {
  display: flex;
  height: 40%;
}

.input-city {
  height: 10px;
}

.input-city:focus {
  border-color: #fff;

}

.btn-city {
  height: 20px;
}