<div class="weather-content">
  <div class="icon-current-weather">
    <img src="../../assets/img/078-cloudy.png" alt="cloudy">
    <span class="text-current-weather">{{ cityWeather.description }}</span>
    <span class="number-current-weather">{{ cityWeather.degrees }}˚</span>
  </div>
  <div class="city-content"> 
    <form [formGroup]="formWeather" (ngSubmit)="getCity(formWeather.value)"> 
      <input class="input-city" type="text" name="city" formControlName="city">
      <input class="btn-city" type="submit" value="">
      <p>Quarta-Feira - 15 de Abril</p>
      <p>{{ city }}</p>
      <!-- <mat-form-field class="input-city" appearance="outline">
        <mat-label>Digite o nome da cidade</mat-label>
        <input matInput placeholder="São Paulo">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field> -->
    </form>
  </div>
</div>